<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/downloads"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PartTwo">
        </activity>
        <activity android:name=".CheckTimeActivity">
        </activity>
        <activity android:name=".ClockActivity">
        </activity>
        <activity android:name=".CustomViewActivity_drawball">
        </activity>
        <activity android:name=".DrawBallActivity">
        </activity>
        <activity android:name=".ExpandableListView">
        </activity>
        <activity android:name=".ListviewWithSimpleAdpter">
        </activity>
        <activity android:name=".PicAtchPhone">
        </activity>
        <activity android:name=".PictureGridWithSimpleAdpter">
        </activity>
        <activity android:name=".ResistModel">
        </activity>
        <activity android:name=".AlterSelect">
        </activity>
        <activity android:name=".PlayPicture">
        </activity>
        <activity android:name=".ProgresBar">
        </activity>
        <activity android:name=".ControlBar">
        </activity>
        <activity android:name=".Toast">
        </activity>
        <activity android:name=".TabPage">
        </activity>
        <activity android:name=".Notice">
        </activity>
        <activity android:name=".Commen">
        </activity>
        <activity android:name=".PartThree">
        </activity>
        <activity android:name=".PlanWar">
        </activity>
        <activity android:name=".ChangScreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".Calcunum">
        </activity>
        <activity android:name=".ShowResist">
        </activity>
        <activity android:name=".GetPhone">
        </activity>
        <activity android:name=".SlidePicture">
        </activity>
        <activity android:name=".Part5">
        </activity>
        <activity android:name=".PartSix">
        </activity>
        <activity android:name=".BackColorChange">
        </activity>
        <activity android:name=".PartSeven">
        </activity>
        <activity android:name=".DrawPanel">
        </activity>
        <activity android:name=".PlayBall">
        </activity>
        <activity android:name=".HitPicture">
        </activity>
        <activity android:name=".ButterFly">
        </activity>
        <activity android:name=".ShowWave">
        </activity>
        <activity android:name=".Part8">
        </activity>
        <activity android:name=".SDFileList">
        </activity>
        <activity android:name=".GestruePicture">
        </activity>
        <activity android:name=".AddGesture">
        </activity>
        <activity android:name=".Part9">
        </activity>
        <activity android:name=".GetPhoneByProvider">
        </activity>
        <activity android:name=".ShowPicture">
        </activity>
        <activity android:name=".Part10">
        </activity>
        <activity android:name=".GetCountByService">
        </activity>
        <service android:name=".ServiceForCount">
        </service>
        <activity android:name=".ListenPhone">
        </activity>
        <activity android:name=".ChangeBackPicture">
        </activity>
        <service android:name=".ChangeBackPicService">
        </service>

        <!-- 添加操作闪光灯的权限 -->
        <uses-permission android:name="android.permission.FLASHLIGHT"/>
        <!-- 添加操作振动器的权限 -->
        <uses-permission android:name="android.permission.VIBRATE"/>
        <!--添加获取联系人的权限-->
        <uses-permission android:name="android.permission.READ_CONTACTS"/>
        <!--添加写联系人的权限-->
        <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
        <!--添加读取外部存储的访问权限-->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        <!--添加写入外部存储的访问权限-->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <!--添加读取通话状态的权限-->
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <!--添加用户修改壁纸的权限-->
        <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    </application>

</manifest>