<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/downloads"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PartTwo">
        </activity>
        <activity android:name=".CheckTimeActivity">
        </activity>
        <activity android:name=".ClockActivity">
        </activity>
        <activity android:name=".CustomViewActivity_drawball">
        </activity>
        <activity android:name=".DrawBallActivity">
        </activity>
        <activity android:name=".ExpandableListView">
        </activity>
        <activity android:name=".ListviewWithSimpleAdpter">
        </activity>
        <activity android:name=".PicAtchPhone">
        </activity>
        <activity android:name=".PictureGridWithSimpleAdpter">
        </activity>
        <activity android:name=".ResistModel">
        </activity>
        <activity android:name=".AlterSelect">
        </activity>
        <activity android:name=".PlayPicture">
        </activity>
        <activity android:name=".ProgresBar">
        </activity>
        <activity android:name=".ControlBar">
        </activity>
        <activity android:name=".Toast">
        </activity>
        <activity android:name=".TabPage">
        </activity>
    </application>

</manifest>